# Ignore everything by default
*

# Keep this file trackable
!.gitignore

# Keep only requested directories
!app/
!app/**
!components/
!components/**
!lib/
!lib/**

# Keep only requested root files
!eslint.config.mjs
!next.config.ts
!package-lock.json
!package.json
!postcss.config.mjs
!tsconfig.json
!yarn.lock
